@font-face {
  font-family: scbb;
  src: url("fonts/SourceCodePro-Black.otf");
}
@font-face {
  font-family: scb;
  src: url("fonts/SourceCodePro-Bold.otf");
}
@font-face {
  font-family: sc;
  src: url("fonts/SourceCodePro-Regular.otf");
}
body {
  margin: 0px;
  background-color: #ff2b2b;
  /*background-color: #b0ffe6;*/
  -ms-overflow-style: none; /*Hides scroll bar in Internet Explorer and Microsoft Edge*/
  scrollbar-width: none; /*Hides scroll bar in Mozilla Firefox*/
}
body::-webkit-scrollbar { /*Hides scroll bar in Safari, Chrome, and Opera*/
  display: none;
}
h1 {
  padding: 0px;
  text-align: center;
  font-size: 30px;
  font-family: sc;
  color: white;
}
h2 {
  padding: 0px;
  border: white;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  font-size: 20px;
  font-family: scb;
  color: white;
}
a {
  padding: 0px;
  color: white;
  text-decoration: none;
  font-family: sc;
  font-size: 18px;
  color: white;
  border-radius: 5px;
}
a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}
b {
  font-family: scbb;
}
img {
  padding: 2px;
  border: white;
  border-width: 2px;
  border-style: solid;
  position: relative;
  width: 300px;
  height: auto;
  left: 50%;
  margin-left: -150px;
}
#extras {
  width: 50px;
  height: 250px;
  position: fixed;
  left: 100%;
  top: 100%;
  margin-left: -55px;
  margin-top: -255px;
  background-color: grey;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  border-color: grey;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
}
#customauthenticityalert {
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  position: fixed;
  z-index: 5;
  background-color: grey;
}
.newprojectbanner {
  position: relative;
  width: 100%;
  height: auto;
  color: white;
  padding: 0px;
  border: white;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  font-size: 20px;
  font-family: scb;
}
.newprojectbanner:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
.header {
  background-color: black;
  width: 100%;
  position: fixed;
  text-aligh: center;
  z-index: 3;
  color: white;
  box-shadow: 0px 3px 4px rgba(30, 30, 30, 0.5);
}
.headertext {
  font-size: 20px;
  font-family: scb;
  text-align: center;
  margin: 10px;
  color: white;
}
.placeholderdiv {
  background-color: rgba(0, 0, 0, 0);
}
.banner {
  background-color: black;
  border: black;
  color: white;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}
.citation {
  position: relative;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  color: white;
  border: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}
.title {
  position: relative;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  color: white;
}
.paragraph {
  padding: 0px;
  border: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  color: white;
  position: relative;
  font-family: scb;
  width: 750px;
  left: 50%;
  margin-left: -375px;
  margin-bottom: 5px;
}
.projectitem {
  padding: 0px;
  border: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  color: white;
  position: relative;
  font-family: scb;
  width: 750px;
  left: 50%;
  margin-left: -375px;
  margin-bottom: 5px;
}
.projectitem:hover {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5)
}
.projectlink {
  font-family: sc;
  color: white;
  font-size: 20px;
}
