@font-face {
  font-family: scbb;
  src: url("fonts/SourceCodePro-Black.otf");
}
@font-face {
  font-family: scb;
  src: url("fonts/SourceCodePro-Bold.otf");
}
@font-face {
  font-family: sc;
  src: url("fonts/SourceCodePro-Regular.otf");
}
body {
  margin: 0px;
  background-color: #ff2b2b;
  /*background-color: #b0ffe6;*/
}
h1 {
  padding: 0px;
  text-align: center;
  font-size: 30px;
  font-family: sc;
  color: white;
}
h2 {
  padding: 0px;
  border: black;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  font-size: 20px;
  font-family: scb;
  color: white;
}
a {
  padding: 0px;
  color: white;
  text-decoration: none;
  font-family: sc;
  font-size: 18px;
  color: white;
}
a:hover {
  cursor: pointer;
  background-color: rgb(50, 50, 50);
}
b {
  font-family: scbb;
}
img {
  padding: 2px;
  border: black;
  border-width: 2px;
  border-style: solid;
  position: relative;
  width: 300px;
  height: auto;
  left: 50%;
  margin-left: -150px;
}
.newprojectbanner {
  position: relative;
  width: 100%;
  height: auto;
  color: white;
  padding: 0px;
  border: black;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  font-size: 20px;
  font-family: scb;
}
.newprojectbanner:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
.header {
  background-color: black;
  width: 100%;
  position: fixed;
  text-aligh: center;
  z-index: 3;
  color: white;
}
.headertext {
  font-size: 20px;
  font-family: scb;
  text-align: center;
  margin: 10p;
  color: white;
}
.placeholderdiv {
  background-color: rgba(0, 0, 0, 0);
}
.banner {
  background-color: black;
  color: white;
}
.citation {
  position: relative;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  color: white;
}
.title {
  position: relative;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  color: white;
}
.projectitem {
  padding: 0px;
  border: black;
  border-width: 2px;
  border-style: solid;
  font-size: 18px;
  text-align: center;
  color: white;
  position: relative;
  font-family: scb;
  width: 750px;
  left: 50%;
  margin-left: -375px;
  margin-bottom: 5px;
}
.projectlink {
  font-family: sc;
  color: white;
  font-size: 20px;
}
.projectlink:hover {
  cursor: pointer;
  background-color: #5effcc
}
